* {
  margin: 0;
  padding: 0;
  font-family: Helvetica;
  box-sizing: border-box;
  text-shadow: #000 1px 1px;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  position: relative;
}

.background-login-register-dashboard {
  background-image: url("./assets/startok3.png");
  background-attachment: fixed !important;
  background-size: cover;
  background-position: center;
}

.background-other {
  background-image: url("./assets/Fundo_startpira.png");
  background-attachment: fixed !important;
  background-size: cover;
  background-position: center;
}

.app-title {
  position: fixed;
  top: 15px;
  transform: translateX(-50%);
  color: #fff;
  font-size: 30px;
  margin-right: 50%;
  background-attachment: fixed !important;
}
