.cash-register-container {
  padding: 20px;
  /* background-image: url("./assets/startok3.png"); */
  /* background-position: top left; /* Mo a imagem de fundo para a esquerda */
  /* background-repeat: no-repeat; */
  min-height: 100vh; /* Garante que o contêiner ocupe pelo menos a altura total da janela de visualização */
  box-sizing: border-box; /* Inclui preenchimento e borda na altura total */
  margin-right: 150px;
  align-items: center !important;
}

.cash-register-container h2 {
  margin-bottom: 30px;
  color: #fff;
}

.input-cash {
  transform: translateY(15px);
  display: flex;
  flex-direction: column; /* Alinha os elementos verticalmente */
  justify-content: center;
  margin-bottom: 4px;
  align-items: center;
}

.input-cash .desc-text {
  display: block !important;
  margin-bottom: 13px !important; /* Adiciona espaço entre o rótulo e o campo de entrada */
  color: #fff;
  text-shadow: none;
}

.input-cash input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 20px; /* Adiciona espaço entre os campos de entrada */
  margin-left: 15px;
  position: relative;
  transform: translateY(-10px);
  text-shadow: none;
  width: 250px;
  margin-top: 13px;
}

.confirm-button {
  margin-top: 25px;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  background-color: #28a745;
  color: #fff;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 50px;
}

.balance-list {
  margin-top: 20px;
  text-align: left;
  color: #fff;
}

.balance-list h3.saldo {
  position: relative;
  top: -70px; /* Mover a descrição 30px para cima */
  margin-bottom: -30px; /* Ajustar a margem inferior para compensar a movimentação */
  color: #fff;
}

.balance-list ul {
  list-style: none;
  padding: 0;
}

.balance-list li {
  margin-bottom: 20px;
  height: 80px;
  width: 100%;
}

.balance-list .balance-amount {
  margin-bottom: 10px;
  color: #218838;
}

.balance-list .final-caixa {
  text-shadow: none;
  padding: 5px 10px;
  cursor: pointer;
  color-scheme: #fff;
  width: 150px;
  background-color: black;
  color: #fff !important;
  display: block;
}

.tabs {
  margin-top: 20px;
}

.tabs button {
  padding: 10px 20px;
  margin-right: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #28a745;
  color: #fff;
}

.tabs button.active {
  background-color: #218838;
}

.tab-content {
  margin-top: 20px;
  margin-bottom: 20px;
}

.chart-container {
  width: 100%;
  margin-top: 20px;
}

.tab-content .grafico-mes {
  width: 1067px;
  margin-top: 20px;
}

.registro {
  width: 100% !important;
}

.update-button {
  font-size: 16px;
  border-radius: 5px;
  border: none;
  background-color: #28a745;
  color: #fff;
  cursor: pointer;
}

.desc-text-label {
  display: block !important;
  color: #ccc;
  font-size: xx-small;
  margin-bottom: 5px;
}

.input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  align-items: center;
}

.month-selector {
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  justify-content: space-between;
  text-shadow: none;
}

.month-selector .but-mes {
  border: none;
  border-radius: 2px;
  cursor: pointer;
  color: #fff;
  background-color: cornflowerblue;
  margin-right: 12px;
  text-shadow: none;
}

.month-selector .but-prox-mes {
  border: none;
  border-radius: 2px;
  cursor: pointer;
  color: #fff;
  background-color: cornflowerblue;
  margin-left: 10px;
  text-shadow: none;
}

.month-selector .but-mes:hover {
  background-color: #022448;
}

.month-selector .but-prox-mes:hover {
  background-color: #022448;
}

.tab-content .total-lucro-semana {
  color: green;
  display: block;
  text-align: center;
  margin-top: 50px;
}

.titulo-mes {
  color: #fff;
  text-shadow: none;
  margin-top: -200px !important;
  margin-bottom: 38px;
}
.tab-content .titulo-semana {
  color: #fff;
  text-shadow: none;
  margin-bottom: 38px;
}
.week-selector button.active {
  background-color: #022448;
  color: #fff;
}
