.expense-list-container {
  padding: 5px !important;
  text-align: center;
}

.desp {
  text-align: center;
  padding: 30px;
  color: #fff;
}

.input-group-desp {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.input-group-desp input,
.input-group-desp select {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-right: 10px;
  text-shadow: none;
}

.input-group-desp button {
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

.expense-list {
  list-style-type: none;
  padding: 0;
  margin-top: 50px;
  width: 100%; /* Adicionar margem superior para garantir que os itens da lista fiquem abaixo dos inputs */
}

.lista {
  display: flex;
  grid-template-columns: repeat(5, 1fr) auto; /* Definir colunas para os elementos */
  gap: 10px; /* Espaçamento entre os elementos */
  align-items: center;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.15);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  margin-bottom: 10px;
  color: #fff;
  width: 80%;
  min-width: 200px; /* Define um tamanho mínimo */
  margin-left: 100px;
}

.lista span {
  flex: 1; /* Faz o campo crescer e ocupar o espaço disponível */
}

.lista span:not(:nth-last-child(-n + 1))::after {
  content: "|";
  margin-left: 50px; /* Adiciona espaço após a barra vertical */
  margin-right: 50px; /* Adiciona espaço após a barra vertical */
}

.month-selector {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.month-selector button {
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  margin: 0 10px;
}

.update-button,
.delete-button {
  padding: 5px 10px;
  font-size: 14px;
  border-radius: 5px;
  border: none;
  background-color: #dc3545;
  color: #fff;
  cursor: pointer;
  justify-content: right;
}

.export-button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  background-color: #28a745;
  color: #fff;
  cursor: pointer;
}

.expense-amount {
  color: #28a745;
}

.container-desp {
  margin-top: 20px;
}

.update-button {
  background-color: #28a745;
}

.edit-expense {
  display: flex;
  align-items: center;
  gap: 10px;
}

.edit-expense label {
  font-size: xx-small;
  margin-bottom: 3px; /* Adiciona margem abaixo do label */
  color: #fff;
}

.edit-expense input {
  text-shadow: none;
  background-color: black;
  color: white !important;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
}

.edit-expense .update-button {
  background-color: #28a745;
  margin-left: 10px;
}

.edit-expense .input-group-desc {
  display: flex;
  flex-direction: column;
  color: #fff;
}

.bot-valor {
  display: flex;
  justify-content: center;
  width: 90%;
}
