.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 50px; /* Largura inicial da sidebar */
  height: 100%;
  background-color: rgba(51, 51, 51, 0.5); /* Cinza transparente */
  color: #fff;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  transition: width 0.3s ease, background-color 0.3s ease;
  cursor: pointer;
}

.sidebarr {
  position: fixed;
  top: 0;
  left: 0;
  width: 50px; /* Largura inicial da sidebar */
  height: 100%;

  padding: 20px;
}

.sidebar:hover {
  width: 200px; /* Largura expandida da sidebar */
  background-color: rgba(51, 51, 51, 0.8); /* Menos transparente quando acionada */
}

.sidebar-indicator {
  font-size: 24px;
  text-align: center;
}

.sidebar-content {
  display: none;
  margin-top: 30px;
}

.sidebar:hover .sidebar-content {
  display: block;
}

.sidebar h3 {
  margin-top: 0;
  margin-left: 35px;
}

.sidebar-menu {
  list-style: none;
  padding: 0;
  margin-top: 60px;
  margin-left: 6px;
}

.sidebar-menu-top ul li .active {
  list-style: none;
  padding: 0;
  margin-top: 1000px;
  margin-left: 500px !important;
}

.sidebar ul li {
  margin: 15px 0;
  width: 150px !important;
  margin-bottom: 30px;
}

.sidebar ul li a {
  color: #fff;
  text-decoration: none;
}

.sidebar ul li a:hover {
  text-decoration: underline;
}

.icon {
  margin-right: 15px;
}

.link-text {
  flex-grow: 1;
}

.sidebar-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.animated-logo {
  width: 155px;
  height: auto;
  margin-top: 550px;
  margin-left: 2px;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-10px);
  }
}
